.favorites {
  height: 91vh;
  flex: 1;
  background-color: #131111;
  color: #ccc;
  padding: 1rem 2rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0.7em;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background-color: #555;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #777;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #358a52;
  }

  &__info {
    padding: 2rem;
    background-color: #1db9543d;
    color: #fff;
    width: 85%;
    margin: 0 auto 3rem auto;
    padding: 1rem;
    border-radius: 20px;
    background-color: #1db9543d;

    h2 {
      margin-bottom: 1rem;
      letter-spacing: 3px;
    }
  }

  &__table {
    width: 80%;
    margin: 0 auto;

    &--title {
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 1.5rem;
      padding-bottom: 1.25rem;
      border-bottom: 1px solid #777;
    }
  }
}
